<!-- Container About -->
<div class="container about">
    <div class="row homepage-bible">
        <blockquote class="text-center">
            <span class="quote-icon">
                <i class="fontAw fas fa-bible fa-4x"></i>
            </span>
            <p>
                « Car Dieu a tant aimé le monde qu'il a donné son Fils unique,
                afin que quiconque croit en lui ne périsse point, mais qu'il ait la vie éternelle. »
            </p>
            <version>
                Jean 3:16 - Version Louis Segond
            </version>
        </blockquote>
    </div>

    <div class="row featurette" id="aboutus">
        <div class="col-md-7">
            <h2 class="featurette-heading">
                <i class="fontAw fas fa-question-circle fa-1x"></i>   Qui sommes-nous?
            </h2>
            <p class="lead">
                Le CEP (Centre Evangélique Protestant) du Pays d’Aix est une communauté d’hommes et de femmes disciples de Jésus-Christ.
                Nous sommes chrétiens protestants évangéliques attachés à la Bible et à l’Evangile révélé en Jésus-Christ.
            </p>
            <br>
            <p class="lead">Héritiers de la Réforme, notre seule source d’autorité est la Bible...</p>
            <br>
            <a class="btn btn-secondary" href="{{ path('showAboutUs') }}" role="button">Lire davantage &raquo;</a>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="http://lorempixel.com/500/500/people" data-holder-rendered="true">
        </div>
    </div>
</div>


<!-- Container About END -->
