<!-- Container About -->
<div class="container about">
    <div class="row homepage-bible">
        <blockquote class="text-center">
            <span class="quote-icon">
                <i class="fontAw fas fa-bible fa-4x"></i>
            </span>
            <p>
                « Car Dieu a tant aimé le monde qu'il a donné son Fils unique,
                afin que quiconque croit en lui ne périsse point, mais qu'il ait la vie éternelle. »
            </p>
            <version>
                Jean 3:16 - Version Louis Segond
            </version>
        </blockquote>
    </div>

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">
                <i class="fontAw fas fa-question-circle fa-1x"></i>   Qui sommes-nous?
            </h2>
            <p class="lead">
                Le CEP (Centre Evangélique Protestant) du Pays d’Aix est une communauté d’hommes et de femmes disciples de Jésus-Christ.
                Nous sommes chrétiens protestants évangéliques attachés à la Bible et à l’Evangile révélé en Jésus-Christ.
            </p>
            <br>
            <p class="lead">Héritiers de la Réforme, notre seule source d’autorité est la Bible...</p>
            <br>
            <a class="btn btn-secondary" href="{{ path('showAboutUs') }}" role="button">Lire davantage &raquo;</a>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1750923683a%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1750923683a%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.1171875%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
        </div>
    </div>
</div>


<!-- Container About END -->
