{% extends 'base.html.twig' %}

{% block body %}

<div id="homepage_top">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"></rect></svg>
                <img class="d-block w-100" src="http://lorempixel.com/1700/680/people" alt="First slide">
                <div class="container">
                    <div class="carousel-caption text-right">
                        <h1>Bienvenue au CEP d'Aix en Provence</h1>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"></rect></svg>
                <img class="d-block w-100" src="http://lorempixel.com/1200/1200/" alt="First slide">
                <div class="container">
                    <div class="carousel-caption text-right">
                        <h1>Une eglise dynamisé par l'evangile</h1>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div id="homepage_body">
    {{ include('homepage/homepage-about.html') }}
    <hr class="featurette-divider" id="activities">
    {{ include('homepage/activities.html') }}
</div>
{% endblock %}
