{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
        <div>
            {% for flashError in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
            {% endfor %}

            <h1>Se connecter</h1>
            {{ form_start(registrationForm) }}
            <div class="form-row">
                <div class="form-group">
                    {{ form_row(registrationForm.email) }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    {{ form_row(registrationForm.password, {
                        label: 'Password'
                    }) }}                </div>
            </div>
        </div>
    {{ form_end(registrationForm) }}
        </div>
</div>
{% endblock %}
