{% if responseMailer == false %}
    <div class="wp-caption alignnone">
        <h2>
            <em>Erreur d'envoi</em>
        </h2>
        <p>
            <em>Une erreur s'est produite. Réessayer ultérieurement.</em>
        </p>
    </div>
{% else %}
    <div class="wp-caption alignnone">
        <h2>
            <em>Merci Beaucoup!</em>
        </h2>
        <p>
            <em>Le message a ete bien envoyer. Nous revenons vers vous au plus vite</em>
        </p>
    </div>
{% endif %}


