{% if responseMailer == false %}
    <div class="wp-caption alignnone">
        <h2>
            <em>{% trans %}Erreur d'envoi{% endtrans %}</em>
        </h2>
        <p>
            <em>{% trans %}Une erreur s'est produite. Réessayer ultérieurement.{% endtrans %}</em>
        </p>
    </div>
{% else %}
    <div class="wp-caption alignnone">
        <h2>
            <em>{% trans %}Merci Beaucoup!{% endtrans %}</em>
        </h2>
        <p>
            <em>{% trans %}Le message a ete bien envoyer. Nous revenons vers vous au plus vite{% endtrans %}</em>
        </p>
    </div>
{% endif %}




