<footer id="footerBar" class="pt-md-5 border-top bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <h4 class="text-center">{% trans %}Nos reseaux sociaux{% endtrans %}</h4>
                <p>
                <div class="col">
                    <div class="row center justify-content-around">
                        <ul class="justify-content-center list-unstyled">
                            <li>
                                <i class="fontAw fab fa-facebook fa-3x"></i>
                                <i class="fontAw fab fa-instagram fa-3x"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://www.linkedin.com/in/santiago-ponce-de-leon-elias-424215ab/" target="_blank"> Santiago Ponce de Leon Elias</a>
        </div>
    </div>
</footer>
