<div>
<nav class="navbar navbar-expand-lg bg-dark py-3 navbar-scrolled" id="mainNav">
    <div class="container">
        <div class="imageContainer">
            <img id="imageLogo" href="{{ path('homepage') }}" src="images/logoCEP.png">
        </div>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-light active" href="{{ path('homepage') }}">
                        {% trans %}Accueil{% endtrans %}
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ 'homePage.generalOptions.whoArewe'|trans }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('aboutus') }}">{% trans %}Le CEP d'Aix{% endtrans %}</a>
                        <a class="dropdown-item" href="#">{% trans %}Nos activites{% endtrans %}</a>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link text-light" href="/#media">{% trans %}Media{% endtrans %}</a></li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/#contact">{% trans %}Contact{% endtrans %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/login">{% trans %}Se Connecter{% endtrans %}</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link text-light dropdown-toggle" href="" id="dropdown09" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <img src="/images/{{ app.request.locale }}-flag.png">
                    </a>
                    {% for locale in locales | filter(locale => locale != app.request.locale) %}
                        <div class="dropdown-menu" aria-labelledby="dropdown09">
                            <a class="dropdown-item" href="{{ path('change_locale',{ 'local': locale }) }}">
                                <img src="/images/{{ locale }}-flag.png">
                                <span class="flag-icon flag-icon-it"> </span>{{ locale }}</a>
                        </div>
                    {% endfor %}
                </li>
            </ul>
        </div>
    </div>
</nav>
</div>