<!DOCTYPE html>
<html>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue au CEP d'Aix!{% endblock %}</title>
        {% block stylesheets %} {{ encore_entry_link_tags('app') }} {% endblock %}
    </head>
    <body id="page-top" data-spy="scroll" data-target="#mainNav" data-offset="150">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top py-3" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">CEP D'AIX</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto my-2 my-lg-0">
                    <li class="nav-item"><a class="nav-link active" href="{{ path('homepage') }}">Accueil</a></li>
                    <li class="nav-item"><a class="nav-link" href="#aboutus">Qui sommes nous?</a></li>
                    <li class="nav-item"><a class="nav-link" href="#activities">Nos activites</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>        {% block body %}{% endblock %}
        {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
        <div class="pt-5 pb-5 mt-5 border-top bg-dark" id="contact">
            <div class="container">
                <div class="row text-light">
                    <div class="col-lg-4 mx-auto text-center" data-aos="zoom-in">
                        <i class="fontAw fas fa-map-marker fa-2x"></i>
                        <span class="d-block text-monospace mt-1">Localisation:</span>
                        <span class="d-block mt-1">12 Bis rue de Provence</span>
                    </div>
                    <div class="col-lg-4 mx-auto text-center">

                        <button type="button"
                                class="btn-xl btn-secondary d-flex align-items-center m-auto"
                                data-toggle="modal"
                                data-target="#contactForm"
                                id="contactButton"
                                data-aos="zoom-in"
                        >
                            <i class="fas fa-comments fa-2x"></i> Nous contacter
                        </button>
                        {{ render(controller('App\\Controller\\ContactFormController::index')) }}                  
                    </div>
                    <div class="col-lg-4 mx-auto text-center" data-aos="zoom-in">
                        <i class="fontAw fas fa-clock fa-2x"></i>
                        <span class="d-block text-monospace mt-1">Horaire du culte:</span>
                        <span class="d-block mt-1">Tous les Dimanches a 10h30</span>
                    </div>
                </div>
            </div>  
        </div>
        <footer id="footerBar" class="pt-md-5 border-top bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mx-auto">
                        <h4 class="text-center">Nos reseaux sociaux</h4>
                        <p>
                        <div class="col">
                            <div class="row center justify-content-around">
                                <ul class="justify-content-center list-unstyled">
                                    <li>
                                        <i class="fontAw fab fa-facebook fa-3x"></i>
                                        <i class="fontAw fab fa-instagram fa-3x"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer-copyright text-center py-3">© 2020 Copyright:
                    <a href="https://www.linkedin.com/in/santiago-ponce-de-leon-elias-424215ab/" target="_blank"> Santiago Ponce de Leon Elias</a>
                </div>
            </div>
        </footer>
    </body>
</html>
