//Customization of Bootstrap SCSS

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}

.carousel-indicators {
  bottom: 25px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.overlay-image {
  filter: brightness(90%);
}

.homepage-bible blockquote {
  max-width: 960px;
  margin: -50px auto auto;
  position: relative;
  z-index: 456;
  padding: 40px 65px;
  background: #fff;
  -webkit-box-shadow: 0 0 27px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 27px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 27px 3px rgba(0, 0, 0, 0.1);
  border-radius: 3px;

  p {
    font-size: 1.2em;
    line-height: 1.8em;
    margin-top: 15px;
  }

  .quote-icon {
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    margin: auto;
    width: 100px;
    height: 100px;
    line-height: 148px;
    vertical-align: middle;
    text-align: center;
    border-radius: 50px;
    background: #fff;
  }

  version {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    margin-top: 15px;
  }
}

.featurette {

  margin-top: 2em;

  @media (min-width: 62em) {
    &-heading {
      margin-top: 7rem;
    }
  }

  &-heading {
    margin-top: 9rem;
  }

}

.btn {
  border-radius: 10px !important;

  &-xl {
    padding: 1.25rem 2.25rem;
    font-size: 0.85rem;
    font-weight: 700;
    border: none;
    border-radius: 10rem;
  }

}

.btn-secondary {
  background-color: #343a40 !important;
  border-color: #8b0000 !important;
}

.fontAw {
  color: #f29143 !important;
  margin-right: 5px;
}

.nav-item:hover {
  border-bottom: 1px solid #f29143 !important;
}

html {
  scroll-behavior: smooth;
}

#mainNav {
  background: rgba(0,0,0,0.4);
}

.nav-link {
  font-family: "Raleway",sans-serif;
  font-weight: 100;
}

#profession {
  background-color: #DCDCDC;
}

#imageLogo {
  width: 7em;
}

/* CUSTOMIZE LOGIN PANEL
-------------------------------------------------- */

#loginPanel {

  background: #E8D426;
  font-family: cursive;

    h1 {
      color: #000;
      padding-bottom: 2rem;
      font-weight: bold;
    }

    a {
      color: #333;

      &:hover {
        color: #E8D426;
        text-decoration: none;
      }
    }

    .form-control:focus {

      color: #000;
      background-color: #fff;
      border:2px solid #E8D426;
      outline: 0;
      box-shadow: none;

    }

    .btn {
      background: #E8D426;
      border: #E8D426;

      &:hover {
        background: #E8D426;
        border: #E8D426;
      }
    }
}